@import 'config/styles/vars.scss';

.container {
  display: flex;
  align-items: center;

  button {
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
    svg {
      margin-right: 0 !important;
    }
    span {
      display: none;
    }
    @include breakpoint(tablet) {
      svg {
        margin-right: 8px !important;
      }
      span {
        display: initial;
      }
    }
  }
}

.title {
  display: none;
  @include breakpoint(tablet) {
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #949496;
  }
}

