@import 'config/styles/vars.scss';

// .container {
//   background: $color-500;
//   padding: 24px;
//   max-width: 480px;
//   margin: 0 auto;
//   position: relative;
// }
.container {
  padding: 0 24px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  overflow: hidden;
  @include breakpoint(tablet) {
    background: $color-500;
    padding: 24px;
    max-width: 480px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    overflow: hidden;
  }
}
.form {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: white;
  }

  input[type="text"],
  input[type="password"] {
    height: 40px;
    margin-bottom: 24px;
  }
  
  button {
    height: 40px;
  }
}
.extra {
  margin-top: 16px;
  text-align: center;

  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
}
