@import 'config/styles/vars.scss';

.container {
  background: $color-500;
  padding: 24px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}
.form {
  background: $color-500;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="password"] {
    height: 40px;
    margin-bottom: 24px;
  }
  
  button {
    height: 40px;
  }
}
.extra {
  margin-top: 16px;
  text-align: center;

  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
}
