@import 'config/styles/vars.scss';

.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 100%;
  @include breakpoint(tablet) {
    width: 33.33%;
  }
  @include breakpoint(desktop) {
    width: 20%;
  }
}
.thumbnail {
  background-position: center !important;
  background-size: cover !important;
  height: 400px;
}
.meta {
  padding: 8px 24px;
}
.title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: $space-100;
  text-align: center;
  a {
    color: #fff;
  }
  @include breakpoint(tablet) {
    font-size: 15px;
  }
}
.actions {
  display: flex;
  justify-content: center;
  padding: 24px;
  button {
    display: flex;
    justify-content: center;
    width: 60px;
    svg {
      margin: 0 !important;
    }
    &:last-of-type {
      margin-left: 16px;
    }
  }
}
